{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Óticas Glória - A melhor rede de óticas do Brasil</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

        <br/><br>
        <br/><br>
        <Center><h1 style="PowderBlue"> Loja Aquidabã - Se</h1></Center>
        <center><img src="{% static 'images/aquidaba.JPG' %}"/></center>

        <Center><h1 style="PowderBlue"> CONFIRA NOSSAS OFERTAS:</h1></Center>
        <Center><h2>Exames de Vista todas as sextas !</h2></Center>
        <Center><h2>Ligue e agende sua consulta! Fone: 79999542116</h2></Center>



        <script type="test/javacript" src="{% static 'js/script.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">


            <br/><br>
            <center><img src="{% static 'images/exame.JPG' %}"/></center>
            <br/><br>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

        <ul class="social-btn font-white">
            <Center><li><a href="https://www.facebook.com/oticagloriacraibas/">Facebook</a></li></Center>
            <Center><li><a href="https://www.instagram.com/oticas_gloria_/?hl=pt-br">Instagram</a></li></Center>
</body>
</html>
